<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>cv_html</title>
	<link rel="stylesheet" href="{{ url_for ('static', filename='css/style.css') }}">
    </head>

    <body>
	    {% extends "layout.html" %}
	    {% block content %}
	    <div class="home">
<!-----------------------------------------------premier titre---------------------------------------------------------->
	<h1>PATRICE LEPIC</h1>

<!-----------------------------------------------deuxième titre--------------------------------------------------------->
	<h2>DEVELOPPEUR D'APPLICATIONS WEB</h2>

<!-----------------------------------------------image du cv------------------------------------------------------------>
	<p><img src="../static/photocv_mini25.jpg" alt="photo de cv" margin="auto" title="photo de cv" \>

<!----------------------------------------------texte sous l'image----------------------------------------------------->

    <h3>Ma formation initiale et continue :</h3>
		<ul>
			<li><B>fev 2019 à juillet 2019 :</B> Formation Administrateur Réseau et Services de Messagerie Informatique (ARSMI) chez ADFSAP Pantin</li>
			<li><B>2018 :</B> Ecole 42, Paris</li>
			<li><B>2014 :</B> Ingénieur d'application option réseaux sur systèmes linux, IUT de Velizy </li>
		</ul>
    <h3>Mes compétences informatiques :</h3>
        <ol>
            <li><B>langages de programmation :</B> python, html5, css3...</li>
            <li><B>systèmes d'exploitation :</B> linux debian, windows 10, server 2008 et 2012</li>
            <li><B>protocoles et outils :</B> dns, dhcp, ftp, apache, lamp... </li>
	    <li><B>micro-framework : </B>flask</li>
        </ol>
    <h3>Mes expériences professionnelles :</h3>
			<ol>
                <li><B>mars 2015 à mars 2017 :</B> technicien systèmes et réseaux chez Bibliothèques Sans Frontières
				<br />
				<em>mes missions : configuration TCP/IP des postes clients, maintenance des imprimantes, support utilisateur... </em>
				</li>
                <li><B>octobre 2020 à février 2020 :</B> technicien support pour SAMSUNG FRANCE chez Nit Consult</li>
			</ol>
	    </div>
	    {% endblock %}
    </body>
</html>
